%h1
  Account
  = @account.number

%a{:href => "/#{@file.sha1}/#{@account.number}"} All
%a{:href => "/#{@file.sha1}/#{@account.number}.credits"} Credits
%a{:href => "/#{@file.sha1}/#{@account.number}.debits"} Debits

%table
  %thead
    %tr
      %th Date
      %th FIT Id
      %th Amount
      %th Payee
      %th Memo
      %th Type
      %th SIC
  %tfoot
    %tr
      %td
      %td Total:
      %td= @transactions.total

  %tbody
    - @transactions.each do |t|
      %tr{:style => "background-color: #{t.color}"}
        %td= t.date
        %td= t.fit_id
        %td= t.amount
        %td= t.payee
        %td= t.memo
        %td= t.type
        %td= t.sic
